.task-item {
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px;
}

.task-title {
  margin-left: 10px;
  font-weight: bold;
}

.task-time {
  color: #777;
}

.task-description {
  margin-top: 10px;
  margin-left: 10px;
}

.task-icons {
  float: right;
}

.title-row {
  cursor: pointer;
}
